Flask==0.10.1
Flask-Bcrypt==0.5.2
Flask-Login==0.2.9
Flask-Mail==0.9.0
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.1
WTForms==1.0.5
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.23
python-dateutil==1.5
virtualenv==1.10.1
virtualenvwrapper==4.2
psycopg2==2.5
pytz==2012d
pygeoip==0.2.5
timezones==1.6