Flask==0.10.1
Flask-Bcrypt==0.5.2
Flask-Login==0.2.9
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.18
PyRSS2Gen==1.0.0
SQLAlchemy==0.9.1
Twisted==12.2.0
WTForms==1.0.5
Werkzeug==0.9.4
altgraph==0.10.1
bdist-mpkg==0.4.4
gunicorn==18.0
itsdangerous==0.23
macholib==1.5
modulegraph==0.10.1
numpy==1.6.2
py-bcrypt==0.4
py2app==0.7.1
pyOpenSSL==0.13
python-dateutil==1.5
pytz==2012d
scipy==0.11.0
stevedore==0.14.1
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
