body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #444;
  background-color: #F8F8F8;
}
 
a:hover, a:visited, a:link, a:active {
  color: #000000;
  text-decoration: none;
}

/*
 * Create orange header with a black logo
 */
  
header {
  background-color: #FF9900;
  height: 38px;
  width: 100%;
  margin-bottom: 12px;
}
 
header h1.logo {
  margin: 0;
  font-size: 24pt;
  color: #000000;
  text-transform: uppercase;
  float: left;
}
 
/*
 * Display navigation links inline
 */

.menu {
  float: right;
  margin-top: 12px;
  font-size: 12pt;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 30px;
}

.menu li a {
  color: #000000;
  text-decoration: none;
}

/*
 * Center the body content
 */
  
.container {
  width: 960px;
  margin: 0 auto;
}

/*
 * Style tables
 */

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align:left;
}

th, td {
  padding: 6px;
}

/*
 * Style buttons
 */
input.submit {
  font-size: 12px;
  font-weight: bold;
  background-color: #FF9900;
  border: 0px solid #4a5032;
  display: inline-block;
  margin: auto;
  padding: 5px;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
}
