{% extends "layout.html" %}

{% block content %}
    {% if current_spell %}
        <p>Current project: {{ current_spell.project.name }}</p>
        <p>Started working on this project at {{ current_spell.start.strftime("%I:%M %p").lstrip("0") }}
        <br>
        <p><i>Switch from this project to a different one below.</i></p>
    {% else %}
        <p>You're not currently working on any project!</p>
    {% endif %}

    <hr>

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>Existing project: {{ form.existing_project }}</p>
        <p>Or, a new project: {{ form.new_project(size=20) }}</p>

        {% if form.existing_project.errors or form.new_project.errors %}
            <ul class="errors">{% for error in form.existing_project.errors + form.new_project.errors %}
                <li> {{ error }} </li>
            {% endfor %}</ul>
        {% endif %}

        <input class=submit type="submit" value="Start on this project now" name="button">

        {% if current_spell %}
            <input class=submit type="submit" value="... or stop working" name="button">
        {% endif %}
    </form>
{% endblock %}
