{% extends "layout.html" %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>Work completed between these two dates: {{ form.start_date }} – {{ form.end_date }}</p>
 
        {% if form.start_date.errors or form.end_date.errors %}
            <ul class="errors">{% for error in form.start_date.errors + form.end_date.errors %}
                <li> {{ error }} </li>
            {% endfor %}</ul>
        {% endif %}

        <input class=submit type="submit" value="Show total hours by project for this period">
    </form>

    <form action="/user_complete_history.csv">
        <input class=submit type="submit" value="Just download all of my data">
    </form>

    {% if durations %}
        <hr>

        <table align="left">
            <thead>
                <th>Project</th>
                <th>Duration</th>
            </thead>
            <tbody>
                {% for row in durations %}
                    <tr>
                        {% for value in row %}
                            <td> {{ value }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
