<!DOCTYPE html>
<html>
    <head>
        <title>T.imeclock</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo"><a href="/">T.imeclock</a></h1>
                <strong><nav>
                    <ul class="menu">
                        {% if g.user.is_authenticated() %}
                            <li><a href="/current">Current</a></li>
                            <li><a href="/history">History</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
