{% extends "layout.html" %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email(size=20) }}
        {{ form.password.label }} {{ form.password(size=20) }}
        {{ form.confirm_password.label }} {{ form.confirm_password(size=20) }}
        
        {% if form.email.errors or form.password.errors or form.confirm_password.errors %}
            <ul class="errors">{% for error in form.email.errors + form.password.errors + form.confirm_password.errors %}
                <li> {{ error }} </li>
            {% endfor %}</ul>
        {% endif %}
        
        <input class=submit type="submit" value="Sign me up!">
    </form>
{% endblock %}
