{% extends "layout.html" %}

{% block content %}

    {% if users %}
        <ul> {% for user in users %}
            <li> {{ user }} </li>
        {% endfor %} </ul>
    {% endif %}

    <hr>

    {% if projects %}
        <ul> {% for project in projects %}
            <li> {{ project }} </li>
        {% endfor %} </ul>
    {% endif %}

    <hr>

    {% if spells %}
        <ul> {% for spell in spells %}
            <li> {{ spell }} </li>
        {% endfor %} </ul>
    {% endif %}

{% endblock %}
